{% extends "Components/base.html" %}
{% load static %}

{% block content %}
    <form method="POST" id="join_form">
        {% csrf_token %}
        <input type="text">
        <button type="submit">Sub</button>
    </form>

{% endblock content %}


{% block script %}
    <script>
        const view_url = "{{ view_url }}";
        const user_token = "{{ user_token }}";
        const class_obj_id = "{{ class_obj.id }}";
    </script>

    <script src="{% static 'js/class_student.js' %}"></script>

    <script src="{% static 'js/class_conductor.js' %}"></script>


{% endblock script %}
